<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews Table</title>
    <!-- You can include additional CSS styling here if needed -->
    

     
</head>
<body>

    <form action="/" method="POST">
        <label for="vehicle-dropdown">Select a Vehicle Company:</label>
        <select id="vehicle-dropdown" name="vehicle_dropdown">
            <optgroup label="Cars">
                <option value="volvo">Volvo</option>
                <option value="toyota">Toyota</option>
                <option value="honda">Honda</option>
                <option value="ford">Ford</option>
                <option value="bmw">BMW</option>
            </optgroup>
            <optgroup label="Bikes">
                <option value="royal-enfield">Royal Enfield</option>
                <option value="Harley-Davidson">Harley-Davidson</option>
                <option value="yamaha">Yamaha</option>
                <option value="suzuki">Suzuki</option>
                <option value="ducati">Ducati</option>
                <option value="kawasaki">Kawasaki</option>
            </optgroup>
        </select>
    
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>

